<app-dasboardcomp></app-dasboardcomp>
<button type="button" class="btn btn-primary" (click)="generatecard()">HIT ME</button>
<div class="row">

    <div class="col-xl-3 col-md-6 mb-4" *ngFor="let card of cards">
        <app-cardcomp [earningperiod]="card.earning" [pricing]="card.price"></app-cardcomp>
    </div>
</div>

















































































































































































































































































































































